body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
body{
    height: 100%;background: #f2f2f2;
}
* {
    box-sizing: border-box
}

.container-fluid{
    margin: 50px auto;
}
.container-fluid-onlymb{
    padding: 0 15px;
    margin: 0 auto 50px auto;
}
.none {display: none!important;}
table, th, td {
    border: 0.5px solid #eeeeee;
    border-collapse: collapse;
}

.table {
    width: 100%
}
.mb-20{
    margin-bottom: 20px;
}
.header-menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #2d3748;
    z-index: 9;
}
.header-max{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-header-menu {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.left-header-menu a.active {
    background: rgb(226, 220, 213);
}
.left-header-menu a {
    width: 100%;
    max-width: 170px;
    height: 30px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    color: #2d3748;
    line-height: 30px;
}
.right-header-menu {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 100%;
}
.right-header-menu button{
    width: 100%;
    text-align: center;
    text-decoration: none;
    max-width: 150px;
    border: none;
}

.h75{
    height: 75px;
    width: 100%;
}
/*modal*/
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 15px;
    background: rgba(0, 0, 0, 0.84);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
}
.modal-content{
    width: 100%;
    position: relative;
    max-width: 1200px;
    color: #000;
    background: #fff;
    padding: 35px 15px;
}

.close-modal {
    position: absolute;
    top: 5px;
    text-align: center;
    right: 5px;
    font-size: 16px;
    color: #000;
    width: 25px;
    cursor: pointer;
    height:25px;
    line-height: 25px;
    border:1px solid #000;
}
/* single user */
.table-link-go img{
    width: 20px;
    height: 20px;
}
.content-1200{
    width: 100%;
    padding: 30px 15px;
    margin: 0 auto;
    max-width: 1200px;
    background: #ffffff;
}
.head-user-single{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invoices-user-section h2{
    margin-bottom: 30px;
}
.gray-line{
    width: 100%;
    height: 2px;
    margin: 30px auto;
    background: #a0aec0;
}
.single-user-title{
    font-size: 20px;
    color: #232323;
    margin: 0;
}
.user-single-status{
    font-size: 20px;
    margin: 0;
}
.user-single-status img {
    width: 25px;
    cursor: pointer;
}
.active{
    color: green;
}
.no-active{
    color: red;
}

.selected-tab{
    display: flex;justify-content: space-between;align-items: center; gap: 15px; margin-bottom: 15px;
}
.selected-tab label{
    border: 1px solid gray;width: 100%;text-align: center;padding: 10px;font-size: 14px;
    cursor: pointer;
}
.selected-tab label.active{
    border: 1px solid #007775;
}
.is-no-active{

}
.radio-block{
    margin-bottom: 20px;
}
.inputs-block{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.inputs-block>.left label,.inputs-block>.right label{
    display: block;
}
.inputs-block>.left input,.inputs-block>.right input{
    width: 100%;
    height: 36px;
    padding: 5px 15px;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    outline: none;
}
.inputs-block>.left,.inputs-block>.right{
    width: 100%;
}
.dates-block{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.dates-block>.left label,.dates-block>.right label{
    display: block;
}
.dates-block>.left input,.dates-block>.right input{
    width: 100%;
    height: 36px;
    padding: 5px 15px;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    outline: none;
}
.dates-block>.left,.dates-block>.right{
    width: 100%;
}
.identification-value{
    margin-top: 20px;
}
.identification-copy-box{
    margin-bottom: 20px;
}
.mini-title-tab{
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 7px 0;
    color: #232323;
}
.input-nip{
    width: 100%;
    height: 36px;
    padding: 5px 15px;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    outline: none;
}
.form_filter{
    width: 100%;
    max-width: 575px;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}
.btn-filter{
    background: #007775;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 5px 15px;
}
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #bfedf0;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}
.sub-title-tab-section{
    font-size: 20px;font-weight: 600;
}
.dataTable{
    width: 100%;
}


/*invoice*/
.inv-head-line-one{
    text-align: right;
}
.inv-head-line-one p{
    margin: 0 0 5px 0;
}
.inv-head-line-one>.number-invoice{
    font-size: 25px;
    font-weight: 600;
}
.default-with-span{
    font-weight: 400;
    font-size: 14px;
}
.default-with-span span{font-weight:300}
.inv-font-14{
    font-size: 14px;
    font-weight: 400;
}
.inv-font-14 span{font-weight:300}
.line-inv-2px{
    width: 100%;
    height: 1px;
    background: #a0aec0;
    margin: 15px 0;
}

.invoice-box{
    max-height: 700px;
    overflow: scroll;
}
.inv-title{
    font-weight: 600;font-size: 22px;
}
.inv-head-line-two{
    display: flex;
    justify-content: space-between;
}
.inv-head-line-two>.inv-element-50{
    text-align: left;
    width: 100%;
}
.inv-head-line-two p:not(.inv-title):not(.inv-sub-title){
    margin: 0 0 5px 0;
}
.inv-sub-title{font-weight: 600;font-size: 15px; margin: 10px 0}
.inv-title.left{text-align: left}
.
/**/
.error-block{color: red;margin: 10px 0 0 0;}
.success-send{color: forestgreen; margin: 10px auto; font-size: 22px}